name: iOS build

on:
  push:
  workflow_dispatch:

env:
  DEPOT_TOOLS_UPDATE: 0

jobs:
  build:
    runs-on: macOS-latest
    env:
      NO_INTL: false
      NO_JIT: true

    steps:
    - uses: actions/checkout@v3

    - name: Export settings from npm package
      run: |
        npm run export_npm_env

    - name: Setup V8 build environment
      run: |
        brew install coreutils ninja
        scripts/setup.sh -r ${V8_VERSION} ios

    - name: Patch V8
      run: |
        scripts/patch.sh ios

    - name: Build V8
      run: |
        scripts/build.sh ios
        scripts/archive.sh ios
        tar -cvf dist.tar dist

    - uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist.tar
